<div class="sidebar2">
  <nav>
    <ul>
      <li><%= link_to 'Detalle', @tarea %> </li>
        <li><%= link_to 'Tareas', tareas_path %>
      </li>
    </ul>
  </nav>
</div>



<section class="content">

  <h1>Editar tarea</h1>

  <%= render 'form' %>

</section>







