<div class="sidebar2">
  <nav>
    <ul>
      <li><%= link_to 'Volver', tareas_path %></li>
    </ul>
  </nav>
</div>



<section class="content">

  <h1>Nueva tarea</h1>

  <%= render 'form' %>

</section>






